body {
  margin: 8px;
  background-color: #0e1f03;
  color: white;
}
.col-xs-2 img {
  height: 200px;
  width: 150px;
}
.play-area {
  background-image: url("https://mxg.cdnbf.net/mexchangeblackjack/turbo/assets/gameView/tableBackground.png");
  background-size: 100% 780px;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  border-radius: 10px;
}

.computer-play-area {
  height: 260px;
}

.player-play-area {
  height: 360px;
}

.player-card-area {
  height: 210px;
}

.navbar-default {
  background-color: #0e1f03;
  border-color: white;
  border-width: medium;
  color: white;
  border-radius: 10px;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-nav>li>a:hover {
    color: yellow;
}

.navbar-default .navbar-nav>li>a:focus {
    color: white;
}

.btn {
  background-color: black;
  color: white;
}

.btn:hover {
  color: yellow;
}

.btn:focus {
    color: white;
}

.result-alert {
  color: white;
  font-weight: bold;

}
